/* star css */
/* p{
    width: 500px;
    height: 200px;
    background-color: lightblue;
    /* menbuat sudut lingkungan  */
    /* disemua sisi */
    /* border-radius: 20px;  */
/* } */
/* div p{
    width: 150px;
    height: 100px;
    background-color: lightblue;
    border-radius: 5px 15px 30px 40px;
}  */
/* .background-styling{
    text-align: center;
    justify-content: center;
    color: #000;
    /* opacity: 0.3; */
    /* display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px; */ 
    /* background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v978-background-02-kpzgw7o8.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e62663bb68a9df004c04635304ebb5f8) center / 700px no-repeat; */
    /* background: linear-gradient( to right, yellow, red );
    border-radius: 5px 15px 30px 40px;
} */
/* .judul,
.para{
    box-shadow: 4px 10px 12px cornflowerblue
} */
/* end css */

/* star position-relative */
div{
    width: 200px;
    height: 200px;
}
.container{
    position: relative;
    width: 350px;
}
.satu{
    background-color: red;
    top: 0px;
    left: 75px;
    z-index: 2;
    position: absolute;
}
.dua{
    background-color: yellow;
    position: absolute;
    right: 0px;
}
.tiga{
    background-color: green;
    position: absolute;
    left: 0px;
}
/* end position */